<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Planner</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    <div class="week">
        @foreach (var i in ViewBag.List)
        {
        <div class="week-ul">
            <div class="name">@i.Name</div>
            <div class="tasks">
                @foreach (var task in i.Tasks)
                {
                    <div class="task-subject">
                        @task.Subject
                    </div>
                    <div class="time">
                        <div class="time-item">
                            @task.Start
                        </div>
                        <div class="time-item">
                            @task.Finish
                        </div>
                     </div>
                }
                <input type="button" class="button-add-new-task"/>
            </div>
        </div>
        }
    </div>
        <div class="body-main">@RenderBody()</div>
    <footer>
        <p>&copy; @DateTime.Now.Year – Planner, Vladislav Zhivula</p>
    </footer>
</body>
</html>
