<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Planner</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    <div class="week">
        @foreach (var i in ViewBag.List)
        {
        <ul class="week-ul">
            <li class="name">@i.Name</li>
            <li class="tasks">
                <ul>
                    @foreach (var task in i.Tasks)
                    {
                        <li class="task-li">
                            <div class="task-div">
                                @task.Subject
                            </div>
                        </li>
                    }
                </ul>
            </li>
        </ul>
        }
    </div>
        <div class="body-main">@RenderBody()</div>
    <footer>
        <p>&copy; @DateTime.Now.Year – Planner, Vladislav Zhivula</p>
    </footer>
</body>
</html>
